@import 
"./varColores",
"./varFuentes"
;

//BOTONES
%botonPpal{
    background-color: $colorPpal;
    text-decoration: none;
    color: $negro;
    border: 1px solid $negro;
    padding: 8px 15px;
    border-radius: 5px;
    font-family: $fuentePpal;
    font-size: 20px;
    transition: 0.5s;
    &:hover{
        background-color: $amarillo;
    }
}
