.main-carr{
    display: flex;
    flex-direction: column;
    align-items: center;
    .sect-carr{
        
        min-width: 330px;
        
        .tit-carr{
            
            @include titulos($color: $colorSec, $tamanio: 30px, $padTop: 5px);
            text-shadow: 1.5px 1.5px $grisClaro;
            text-align: center;
        }
        .cont-item-carr{
            
            display: grid;
            grid-template-columns: 25% auto 25%;
            margin: 5px;

            .cont-img-carr{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .img-carr{
                    
                    width: auto;
                    height: 120px;
                    padding: 5px;
                    
                }
            }
            
            .prod-cant-carr{
                
                display: flex;
                flex-direction: column;
                padding: 15px;

                .prod-carr{
                    
                    font-size: 16px;
                    font-family: $fuentePpal;
                    line-height: 0.9em;
                    color: $grisOscuro;
                    padding: 2px;
                    margin-bottom: 10px;


                }
                label{
                    
                    font-size: 14px;
                    font-family: $fuentePpal;
                    color: $grisOscuro;
                    padding: 0;
                    margin-bottom: 0;
                }
                .cant-carr{
                    
                }
            }
            .cont-precio-carr{
                
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .precio-carr{
                    
                    font-size: 20px;
                    font-family: $fuentePpal;
                    font-weight: bold;
                    color: $grisOscuro;
                    padding: 5px;
                }
            }
        }

        .linea {
            border-top: 1px solid rgb(204, 204, 204);
            height: 2px;
            max-width: 90%;
            padding: 0;
            margin: 20px auto 0 auto;
          }
    }

    .pago-carr{
        
        min-width: 330px;
        width: 60%;
        padding: 15px;

        .cont-pago-carr{
              
            display: grid;
            grid-template-columns: 75% auto;
            margin: 5px;
            .cont-total-carr{
                display: flex;
                flex-direction: row;
                align-items: center;

                  
                .total-carr{
                    
                    font-size: 20px;
                    font-family: $fuentePpal;
                    line-height: 0.9em;
                    color: $grisOscuro;
                    padding: 2px;
                    margin-bottom: 10px;
                }
            }
            .cont-precio-total-carr{
                  
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .precio-total-carr{
                      
                    font-size: 25px;
                    font-family: $fuentePpal;
                    font-weight: bold;
                    color: $grisOscuro;
                    padding: 5px;
                    
                }
            }
            
        }
        .boton-carr{
            display: flex;
            flex-direction: row;
           
            a{
                @extend %botonPpal;
                padding: 4px;
                margin: 5px;
                width: 100%;
                height: 45px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                
            }
            
        }
    }
}


//-----------------------------------------@media---------------------------------------------
@media screen and (min-width: 768px) {
    .main-carr{
        
        .sect-carr{
            min-width: 330px;
            width: 90%;
            
            .tit-carr{
                font-size: 40px;
            }
            .cont-item-carr{
                grid-template-columns: 15% auto 15%;
                .cont-img-carr{
                    
                    .img-carr{
                        
                        width: auto;
                        height: 120px;
                        padding: 5px;
                    }
                }
                
                .prod-cant-carr{
                    
                    flex-direction: row;
                    align-items: center;
                    .prod-carr{
                        font-size: 25px;
                        line-height: 0.9em;
                        width: 80%;
                        height: 100%;
                        padding: 10px;
                    }
                    label{
                        font-size: 20px;
                        padding: 5px;

                    }
                    .cant-carr{
                        padding: 5px;
                    }
                }
                .cont-precio-carr{
                    
                    .precio-carr{
                        font-size: 20px;
                     
                    }
                }
            }
        }
    
        .pago-carr{
            width: 90%;
            padding: 0;
            .cont-pago-carr{
                grid-template-columns: 85% auto;
                
                .cont-total-carr{
                    
                    justify-content: right;
    
                    .total-carr{
                        font-size: 30px;
                        padding: 5px 25px;
                    }
                }
                .cont-precio-total-carr{
                   
                    .precio-total-carr{
                        
                        font-size: 25px;
                    }
                }
                
            }
            .boton-carr{
                justify-content: right;
                margin: 20px 20px;
               
                a{
                    width: 25%;
                }
                
            }
        }
    }
    
}

@media screen and (min-width: 1200px) {
    .main-carr{
        
        .pago-carr{
            
            .boton-carr{ 
                margin: 20px 50px;
            }
        }
    }
    
}