main{
    .sec-serv{

        .filtros-serv{
            display: none;

            .categ-serv{
                @include titulos($color: $grisOscuro, $tamanio: 25px, $padTop: auto);
                text-align: left;
            }

            ul{
                li{
                    list-style-type: none;
                    padding: 5px;
                    a{
                        text-decoration: none;
                        color: $grisClaro;
                        
                        border-bottom: 1px solid transparent;
                        
                        &:hover{
                            // color: $grisOscuro;
                            // border-bottom: 1px solid $grisOscuro;
                            // border-radius: 3px;
                            // padding: 5px;
                            color: $grisOscuro;
                            font-weight:550;
                            
                        }
                    }
                }
            }
        }

        .filtros-serv-mov{
            position: sticky;
            top: 70px;
            width: 100%;

            .accordion-item{
                
                .accordion-header{
                    @include titulos($color: $grisOscuro, $tamanio: 30px, $padTop: auto);
                    text-align: left;

                    .accordion-button{
                        background-color: $fondo;
                        &:not(.collapsed){
                            color: $grisOscuro;
                            
                            &::after{
                                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                            }
                        }
                        // &:not(.collapsed)::after{
                        //     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                        // }
                        &:focus{
                            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.247);
                        }
                    }
                }
    
                ul{
                    li{
                        list-style-type: none;
                        a{
                            text-decoration: none;
                            color: $grisClaro;
                            &:hover{
                                color: $grisOscuro;
                                font-weight:550;
                            }
                        }
                    }
                }
            }  
        }

        .cont-servs{

            .tit-serv {
                 @include titulos($color: $colorSec, $tamanio: 35px, $padTop: 10px);
                text-shadow: 1.5px 1.5px $grisClaro;
            }
            
            .serv{
                padding: 15px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border: solid 1px transparent;

                .img-serv{
                    width: auto;
                    height: 250px;
                    padding: 15px;
                }

                .info-serv{
                    padding: 15px;
                    
                    .nota-serv{
        
                        @include titulos($color: rgb(255, 255, 255), $tamanio: 15px, $padTop: auto);
                        background-color: $colorSec;
                        text-align: left;
                        display: inline;
                        padding: 5px;
                        border-radius: 10px;
                    }
                    .nom-serv{
                        
                        @include titulos($color: $grisOscuro, $tamanio: 18px, $padTop: 10px);
                        text-align: left;
                    
                    }
                    .precio-serv{
                        @include titulos($color: $grisOscuro, $tamanio: 20px, $padTop: auto);
                        text-align: left;
                    }
                    .descrip-serv{
                        display: none;

                    }
                    .btn-serv{
                        @extend %botonPpal;
                    }
                }
            }
        }
    }
}

//-----------------------------------------@media---------------------------------------------
@media screen and (min-width: 768px){
    main{
        .sec-serv{
            display: grid;
            grid-template-columns: 25% auto;
            
            .filtros-serv{
                 //GRID
                grid-column-start: 1;
                grid-column-end: 1;
    
                background-color: rgb(255, 255, 255);
                padding: 20px;

                //FLEX
                display: flex;
                flex-direction: column;

                .categ-serv{
                    position: sticky;
                    top: 90px;
                }
    
                ul{
                    position: sticky;
                    top: 150px;
                    li{
                        
                        a{
                            
                            &:hover{
                                
                            }
                        }
                    }
                }
            }

            .filtros-serv-mov{
                display: none;
            }
        }
        .cont-servs{

            .tit-serv {
                
            }

            .serv{
        
                &:hover{
                    border: solid 1px rgb(184, 184, 184);
                    
                }
                .img-serv{
                    
                }
                .info-serv{

                    .nota-serv{
        
                    }
                    .nom-serv{
                        @include titulos($color: $grisOscuro, $tamanio: 20px, $padTop: 10px);
                    }
                    .precio-serv{
                    
                    }
                    .descrip-serv{
                        display: block !important;
                        
                        font-family: $fuentePpal;
                        font-size: 15px;
                    
                    }
                    .btn-serv{
                    
                    }
                }
            }
        }
    }    
}

@media screen and (min-width: 992px){
    main{
        .sec-serv{
            
            .filtros-serv{
         
                .categ-serv{
                   
                }

                .filtros-img{
                    max-width: 180px;
                    align-self: center;
                }
    
                ul{
                    
                    li{
                        
                        a{
                            
                            &:hover{
                                
                            }
                        }
                    }
                }
            }

            .filtros-serv-mov{
                
            }
        }
        .cont-servs{
            .serv{
        
                &:hover{
                    
                    
                }
                .img-serv{
                    
                }
                .info-serv{
                
                    .nota-serv{
        
                    }
                    .nom-serv{
                        
                    }
                    .precio-serv{
                    
                    }
                    .descrip-serv{
                      
                    
                    }
                    .btn-serv{
                    
                    }
                }
            }
        }
    }    
}

@media screen and (min-width: 1200px){
    
}