.main-fc{
   
    .tit-fc{
        @include titulos($color: $colorSec, $tamanio: 35px, $padTop: 10px);
        text-shadow: 1.5px 1.5px $grisClaro;
        
    }

    .cont-form-fc{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .form-fc{
            min-width: 350px;

            fieldset{
                border: 1px solid $grisOscuro;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 5px;
                margin: 15px;
                border-radius: 5px;
                background-color: rgb(243, 240, 240);
                

                legend{
                    font-family: $fuentePpal;
                    padding: 3px;
                }
                input{
                    padding: 5px;
                    margin: 5px;
                    border-radius: 5px;
                    border: 1px solid $grisOscuro;
                }
                label{
                    padding: 5px;
                    margin: 5px;
                    margin-bottom: 0;
                    padding-bottom: 0;
                    text-align: center;
                    border: 1px solid $grisOscuro;
                    border-bottom: none;
                    border-radius: 5px 5px 0 0;
                    padding: 2px;
                    margin: 5px 5px 0 5px;
                    background-color: rgb(245, 245, 245);
                    font-size: 12px;
                    // width: 95%;
                }

                .fecha{
                    padding: 5px;
                    margin: 5px;
                    margin: 0 5px 5px 5px;
                    border-radius: 0 0 5px 5px;
                    border-left: 0;
                    border: 1px solid $grisOscuro;
                    // width: 95%;
                    background-color: rgb(255, 255, 255);
                    
                    //probando
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    min-width: 350px;

                    .anio{
                        width: 45%;
                        border: none;
                        border-left: 1px solid $grisOscuro;
                    }

                    .mes{
                        width: 40%;
                        border: none;
                    }
                }
               
            }
        }
        .cont-btn{
            display: flex;
            justify-content: center;

            .btn-primary{
                @extend %botonPpal;
                margin: 15px;
                justify-self: end;
                width: 100%;
                padding: 3px 10px;
            }
        }

        .modal{
            .modal-dialog{
                .modal-content{
                    .modal-footer{
                        .btn-secondary{
                            background-color: $grisClaro;
                            color: $colorPpal;
                            border-color: $grisOscuro;
                        }
                    }
                }
            }
        }
        
    }
}

//-----------------------------------------------------@media---------------------------------

@media screen and (min-width: 768px) {
    .main-fc{
   
        .tit-fc{
            
        }
    
        .cont-form-fc{
            width: 100%;
            .form-fc{
                
                fieldset{
                   flex-direction: row;
                   flex-wrap: wrap;
                   justify-content: center;
                    legend{
                        
                    }
                    input{
                         width: 45%;
                    }

                    label{
                        // padding: 5px;
                        // margin: 5px;
                        // margin-bottom: 0;
                        // padding-bottom: 0;
                        // text-align: center;
                        // border: 1px solid $grisOscuro;
                        // border-right: none;
                        // border-radius: 5px 0 0 5px;
                        // margin: 5px 0 5px 5px;
                        // background-color: rgb(245, 245, 245);
                        // font-size: 12px;
                        // width: 92%;
                        border-radius: 5px 0 0 5px;
                        border-bottom: 1px solid $grisOscuro;
                        border-right: 0;
                        margin-right: 0;
                        margin-bottom: 5px;
                        padding: 5px;
                        height: 35px;
                        text-align: center;
                        width: 42%;
                    }
    
                    .fecha{
                        // padding: 5px;
                        // margin: 5px;
                        // margin-top: 0;
                        // border-radius: 0 5px 5px 0;
                        // margin:5px 5px 5px 0 ;
                        // width: 61%;
                        min-width: unset;
                        width: 50%;
                        border-radius: 0 5px 5px 0;
                        margin-top: 5px;
                        margin-left: 0;
                        padding: 0;

                        .anio{
                        // margin-top: 0;
                        // border-radius: 0 5px 5px 0;
                        // margin:5px 5px 5px 0 ;
                        
                        }
    
                        .mes{
                        // margin-top: 0;
                        // border-radius: 0 5px 5px 0;
                        // margin:5px 5px 5px 0 ;
                        
                        }
                    }
                }
            }
            .cont-btn{
                
                justify-content: right;
                width: 60%;
                .btn-primary{
                    width: 40%;
                    margin: 15px 15px 30px 15px;
                    &:focus{
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .main-fc{
   
        .tit-fc{
            
        }
    
        .cont-form-fc{
            // width: 90%;
            .form-fc{
                
                fieldset{
                //    max-width: 800px;
                    legend{
                        
                    }
                    input{
                         
                    }

                    label{
                        
                    }
    
                    .fecha{
                        
                    }
                }
            }

            .cont-btn{
                
                
                .btn-primary{
                   
                    
                }
            }
        }
    }
}