main{
    .alto{
        height: 500px;
    }
    .sec-serv{

        .filtros-serv{
            display: none;

            .categ-serv{
                @include titulos($color: $grisOscuro, $tamanio: 25px, $padTop: auto);
                text-align: left;
            }

            ul{
                li{
                    list-style-type: none;
                    padding: 5px;
                    a{
                        text-decoration: none;
                        color: $grisClaro;
                        
                        &:hover{
                            color: $grisOscuro;
                            font-weight:550;
                            
                        }
                    }
                    .categ-activa{
                        color: $colorSec;
                        -webkit-text-stroke: 0.3px $grisOscuro;
                        pointer-events: none;
                    }
                }
            }
        }

        .filtros-serv-mov{
            position: sticky;
            top: 70px;
            width: 100%;

            .accordion-item{
                
                .accordion-header{
                    @include titulos($color: $grisOscuro, $tamanio: 30px, $padTop: auto);
                    text-align: left;

                    .accordion-button{
                        background-color: $fondo;
                        &:not(.collapsed){
                            color: $grisOscuro;
                            
                            &::after{
                                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                            }
                        }
                        // &:not(.collapsed)::after{
                        //     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                        // }
                        &:focus{
                            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.247);
                        }
                    }
                }
    
                ul{
                    li{
                        list-style-type: none;
                        a{
                            text-decoration: none;
                            color: $grisClaro;
                            &:hover{
                                color: $grisOscuro;
                                font-weight:550;
                            }
                        }

                        .categ-activa{
                            color: $colorSec;
                            -webkit-text-stroke: 0.3px $grisOscuro;
                            pointer-events: none;
                        }
                    }
                }
            }  
        }

        .cont-servs{

            .tit-serv {
                 @include titulos($color: $colorSec, $tamanio: 26px, $padTop: 10px);
                text-shadow: 1.5px 1.5px $grisClaro;
            }
            
            .serv{
                padding: 15px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border: solid 1px transparent;

                .img-serv{
                    
                    width: auto;
                    height: 180px;
                    padding: 15px;

                }

                .info-serv{
                    padding: 15px;
                    
                    .nota-serv{
        
                        @include titulos($color: rgb(255, 255, 255), $tamanio: 15px, $padTop: auto);
                        background-color: $colorSec;
                        text-align: left;
                        display: inline;
                        padding: 5px;
                        border-radius: 10px;
                    }
                    .nom-serv{
                        
                        @include titulos($color: $grisOscuro, $tamanio: 18px, $padTop: 10px);
                        text-align: left;
                    
                    }
                    .precio-serv{
                        @include titulos($color: $grisOscuro, $tamanio: 15px, $padTop: auto);
                        text-align: left;
                    }
                    .descrip-serv{
                        display: none;

                    }
                    .btn-serv{
                        @extend %botonPpal;
                        font-size: 15px;
                        
                    }

                    .modal{
                        top: 30%;
                        .modal-dialog{
                            .modal-content{
                                border: 1px solid $grisOscuro;
                                border-radius: 10px;

                                .modal-header{
                                    border-bottom: 1px solid $grisClaro;
                                    h5{
                                        color: $grisOscuro;
                                        font-size: 30px;
                                    }
                                }
                                .modal-body{
                                    form{
                                        display: flex;
                                        flex-direction: column;
                                        .campos-reserva-serv{
                                            
                                        }
                                    }
                                }

                                .modal-footer{
                                    border-top: 1px solid $grisClaro;
                                    .btn{
                                        background-color: $grisClaro;
                                        color: $colorPpal;
                                        border-color: $grisOscuro;
                                        &:hover{
                                            background-color: $grisOscuro;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//-----------------------------------------@media---------------------------------------------
@media screen and (min-width: 480px){
    main{
        .sec-serv{
            .filtros-serv{
                .categ-serv{
                  
                }
    
                ul{
                    li{
                        a{
                            
                            
                            &:hover{
                                
                            }
                        }
                    }
                }
            }
    
            .filtros-serv-mov{
              
                .accordion-item{
                    
                    .accordion-header{
                        
                        .accordion-button{
                            
                            &:not(.collapsed){
                               
                                &::after{
                                    
                                }
                            }
                            // &:not(.collapsed)::after{
                            //     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                            // }
                            &:focus{
                               
                            }
                        }
                    }
        
                    ul{
                        li{
                            
                            a{
                                
                                &:hover{
                                   
                                }
                            }
                        }
                    }
                }  
            }
    
            .cont-servs{
    
                .tit-serv {
                    font-size: 30px;
                }
                
                .serv{
                    .img-serv{
                        height: 250px;
                    }
    
                    .info-serv{
                        
                        .nota-serv{

                        }
                        .nom-serv{
                            
                        }
                        .precio-serv{
                            // @include titulos($color: $grisOscuro, $tamanio: 20px, $padTop: auto);
                            // text-align: left;
                            font-size: 20px;
                        }
                        .descrip-serv{
                         
                        }
                        .btn-serv{
                            font-size: 20px;
                        }
    
                        .modal{
                            .modal-dialog{
                                .modal-content{
                                    .modal-header{
                                    
                                        h5{
                                            
                                        }
                                    }
                                    .modal-body{
                                        form{
                                            .fecha-hora{

                                            }
                                        }
                                    }
    
                                    .modal-footer{
                                      
                                        .btn{
                                            &:hover{
                                                
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px){
    main{
        .sec-serv{
            display: grid;
            grid-template-columns: 25% auto;
            
            .filtros-serv{
                 //GRID
                grid-column-start: 1;
                grid-column-end: 1;
    
                background-color: rgb(255, 255, 255);
                padding: 20px;

                //FLEX
                display: flex;
                flex-direction: column;

                .categ-serv{
                    position: sticky;
                    top: 90px;
                }
    
                ul{
                    position: sticky;
                    top: 150px;
                    // li{
                        
                    //     a{
                            
                    //         &:hover{
                                
                    //         }
                    //     }
                    // }
                }
            }

            .filtros-serv-mov{
                display: none;
            }

            .cont-servs{

                .tit-serv {
                    font-size: 35px;
                }
    
                .serv{
            
                    &:hover{
                        border: solid 1px rgb(184, 184, 184);
                        
                    }
                    // .img-serv{
                        
                    // }
                    .info-serv{
    
                        // .nota-serv{
            
                        // }
                        .nom-serv{
                            @include titulos($color: $grisOscuro, $tamanio: 20px, $padTop: 10px);
                            text-align: left;
                        }
                        // .precio-serv{
                        
                        // }
                        .descrip-serv{
                            display: block !important;
                            
                            font-family: $fuentePpal;
                            font-size: 15px;
                        
                        }
                        // .btn-serv{
                        
                        // }
                    }
                }
            }
        }
        
    }    
}

@media screen and (min-width: 992px){
    main{
        .sec-serv{
            
            .filtros-serv{
         
                // .categ-serv{
                   
                // }

                .filtros-img{
                    max-width: 180px;
                    align-self: center;
                }
    
                // ul{
                    
                //     li{
                        
                //         a{
                            
                //             &:hover{
                                
                //             }
                //         }
                //     }
                // }
            }

            // .filtros-serv-mov{
                
            // }

            // .cont-servs{
        //     .serv{
        //         &:hover{
                     
        //         }
        //         .img-serv{
                    
        //         }
        //         .info-serv{
                
        //             .nota-serv{
        
        //             }
        //             .nom-serv{
                        
        //             }
        //             .precio-serv{
                    
        //             }
        //             .descrip-serv{
                      
                    
        //             }
        //             .btn-serv{
                    
        //             }
                    // .modal{
                       
                    //     .modal-dialog{
                    //         .modal-content{
                               
                    //             .modal-header{
                                  
                    //                 h5{
                                        
                    //                 }
                    //             }
                    //             .modal-body{
                    //                 form{
                    //                     .fecha-hora{
                                           
                    //                     }
                    //                 }
                    //             }

                    //             .modal-footer{
                                   
                    //                 .btn{
                                       
                    //                     &:hover{
                                            
                    //                     }
                    //                 }
                    //             }
                    //         }
                    //     }
                    // }
        //         }
        //     }
        // }
        }
        
    }    
}

@media screen and (min-width: 1200px){
    main{
        .sec-serv{
            .filtros-serv{
                .categ-serv{
                  
                }
    
                ul{
                    li{
                        a{
                            
                            
                            &:hover{
                                
                            }
                        }
                    }
                }
            }
    
            .filtros-serv-mov{
              
                .accordion-item{
                    
                    .accordion-header{
                        
                        .accordion-button{
                            
                            &:not(.collapsed){
                               
                                &::after{
                                    
                                }
                            }
                            // &:not(.collapsed)::after{
                            //     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                            // }
                            &:focus{
                               
                            }
                        }
                    }
        
                    ul{
                        li{
                            
                            a{
                                
                                &:hover{
                                   
                                }
                            }
                        }
                    }
                }  
            }
    
            .cont-servs{
    
                .tit-serv {
                    font-size: 40px;
                }
                
                .serv{
                    .img-serv{
                        
                    }
    
                    .info-serv{
                        
                        .nota-serv{

                        }
                        .nom-serv{
                            
                        }
                        .precio-serv{
                            
                        }
                        .descrip-serv{
                         
                        }
                        .btn-serv{
                            
                        }
    
                        .modal{
                            .modal-dialog{
                                .modal-content{
                                    .modal-header{
                                    
                                        h5{
                                            
                                        }
                                    }
                                    .modal-body{
                                        form{
                                            .fecha-hora{

                                            }
                                        }
                                    }
    
                                    .modal-footer{
                                      
                                        .btn{
                                            &:hover{
                                                
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}