.nos-main{
    section{
        div{
            div{
                div{
                    .tarjeta-rot{
                        animation-name: tarj-rot;
                        animation-duration: 0.3s;
                    }
                    @keyframes tarj-rot {
                        0%{transform: rotate(0);}
                        25%{transform: rotate(1deg);}
                        75%{transform: rotate(-1deg);}
                        100%{transform: rotate(0deg);}
                    }
                }
            }
        }
    }
}