@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glory&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glory&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glory&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glory&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glory&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
main .sec-carrito .cont-carrito .cont-boton .btn-primary, main .sec-prod .cont-prods .prod .info-prod .btn-prod, .alto .formulario form .enviar, div div .card .boton, main .sec-serv .cont-servs .serv .info-serv .btn-serv {
  background-color: #FFC400;
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  padding: 8px 15px;
  border-radius: 5px;
  font-family: "Glory", sans-serif;
  font-size: 20px;
  transition: 0.5s;
}
main .sec-carrito .cont-carrito .cont-boton .btn-primary:hover, main .sec-prod .cont-prods .prod .info-prod .btn-prod:hover, .alto .formulario form .enviar:hover, div div .card .boton:hover, main .sec-serv .cont-servs .serv .info-serv .btn-serv:hover {
  background-color: #FFF70D;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}
header .offcanvas-body {
  background-color: #252525;
}
header .navbar-dark .navbar-toggler {
  border: none;
  color: transparent;
}
header .navbar-dark .navbar-toggler .menu-hamburguesa {
  color: #FFC400;
  font-size: 40px;
}
header .navbar-dark .offcanvas-header {
  background-color: #252525;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header .navbar-dark .offcanvas-header .botonCerrar {
  background-color: transparent;
  border: none;
  color: #FFC400;
  font-size: 25px;
}
header .navbar-dark .offcanvas-header .botonCerrar:hover {
  color: #FF940D;
}
header .navbar-dark .offcanvas-body {
  text-align: center;
}
header .navbar {
  background-color: #252525;
}
header .navbar .navbar-nav .nav-item .nav-link {
  color: #FFC400;
  font-family: "Gloria Hallelujah", cursive;
}
header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #FF940D;
}
header .navbar .navbar-nav .nav-item .active {
  font-weight: bold;
}
header .navbar-brand {
  font-family: "Gloria Hallelujah", cursive;
  color: #FFC400 !important;
  font-size: 30px;
  align-self: center;
}

main .alto {
  height: 500px;
}
main .sec-serv .filtros-serv {
  display: none;
}
main .sec-serv .filtros-serv .categ-serv {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #252525;
  font-size: 25px;
  padding-top: auto;
  text-align: left;
}
main .sec-serv .filtros-serv ul li {
  list-style-type: none;
  padding: 5px;
}
main .sec-serv .filtros-serv ul li a {
  text-decoration: none;
  color: #413e38;
}
main .sec-serv .filtros-serv ul li a:hover {
  color: #252525;
  font-weight: 550;
}
main .sec-serv .filtros-serv ul li .categ-activa {
  color: #FF940D;
  -webkit-text-stroke: 0.3px #252525;
  pointer-events: none;
}
main .sec-serv .filtros-serv-mov {
  position: sticky;
  top: 70px;
  width: 100%;
}
main .sec-serv .filtros-serv-mov .accordion-item .accordion-header {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #252525;
  font-size: 30px;
  padding-top: auto;
  text-align: left;
}
main .sec-serv .filtros-serv-mov .accordion-item .accordion-header .accordion-button {
  background-color: rgb(238, 238, 238);
}
main .sec-serv .filtros-serv-mov .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #252525;
}
main .sec-serv .filtros-serv-mov .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
main .sec-serv .filtros-serv-mov .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.247);
}
main .sec-serv .filtros-serv-mov .accordion-item ul li {
  list-style-type: none;
}
main .sec-serv .filtros-serv-mov .accordion-item ul li a {
  text-decoration: none;
  color: #413e38;
}
main .sec-serv .filtros-serv-mov .accordion-item ul li a:hover {
  color: #252525;
  font-weight: 550;
}
main .sec-serv .filtros-serv-mov .accordion-item ul li .categ-activa {
  color: #FF940D;
  -webkit-text-stroke: 0.3px #252525;
  pointer-events: none;
}
main .sec-serv .cont-servs .tit-serv {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #FF940D;
  font-size: 26px;
  padding-top: 10px;
  text-shadow: 1.5px 1.5px #413e38;
}
main .sec-serv .cont-servs .serv {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid 1px transparent;
}
main .sec-serv .cont-servs .serv .img-serv {
  width: auto;
  height: 180px;
  padding: 15px;
}
main .sec-serv .cont-servs .serv .info-serv {
  padding: 15px;
}
main .sec-serv .cont-servs .serv .info-serv .nota-serv {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding-top: auto;
  background-color: #FF940D;
  text-align: left;
  display: inline;
  padding: 5px;
  border-radius: 10px;
}
main .sec-serv .cont-servs .serv .info-serv .nom-serv {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #252525;
  font-size: 18px;
  padding-top: 10px;
  text-align: left;
}
main .sec-serv .cont-servs .serv .info-serv .precio-serv {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #252525;
  font-size: 15px;
  padding-top: auto;
  text-align: left;
}
main .sec-serv .cont-servs .serv .info-serv .descrip-serv {
  display: none;
}
main .sec-serv .cont-servs .serv .info-serv .btn-serv {
  font-size: 15px;
}
main .sec-serv .cont-servs .serv .info-serv .modal {
  top: 30%;
}
main .sec-serv .cont-servs .serv .info-serv .modal .modal-dialog .modal-content {
  border: 1px solid #252525;
  border-radius: 10px;
}
main .sec-serv .cont-servs .serv .info-serv .modal .modal-dialog .modal-content .modal-header {
  border-bottom: 1px solid #413e38;
}
main .sec-serv .cont-servs .serv .info-serv .modal .modal-dialog .modal-content .modal-header h5 {
  color: #252525;
  font-size: 30px;
}
main .sec-serv .cont-servs .serv .info-serv .modal .modal-dialog .modal-content .modal-body form {
  display: flex;
  flex-direction: column;
}
main .sec-serv .cont-servs .serv .info-serv .modal .modal-dialog .modal-content .modal-body form input {
  margin: 5px;
}
main .sec-serv .cont-servs .serv .info-serv .modal .modal-dialog .modal-content .modal-body form div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main .sec-serv .cont-servs .serv .info-serv .modal .modal-dialog .modal-content .modal-footer {
  border-top: 1px solid #413e38;
}
main .sec-serv .cont-servs .serv .info-serv .modal .modal-dialog .modal-content .modal-footer .btn {
  background-color: #413e38;
  color: #FFC400;
  border-color: #252525;
}
main .sec-serv .cont-servs .serv .info-serv .modal .modal-dialog .modal-content .modal-footer .btn:hover {
  background-color: #252525;
}

@media screen and (min-width: 480px) {
  main .sec-serv .cont-servs .tit-serv {
    font-size: 30px;
  }
  main .sec-serv .cont-servs .serv .img-serv {
    height: 250px;
  }
  main .sec-serv .cont-servs .serv .info-serv .precio-serv {
    font-size: 20px;
  }
  main .sec-serv .cont-servs .serv .info-serv .btn-serv {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  main .sec-serv {
    display: grid;
    grid-template-columns: 25% auto;
  }
  main .sec-serv .filtros-serv {
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  main .sec-serv .filtros-serv .categ-serv {
    position: sticky;
    top: 90px;
  }
  main .sec-serv .filtros-serv ul {
    position: sticky;
    top: 150px;
  }
  main .sec-serv .filtros-serv-mov {
    display: none;
  }
  main .sec-serv .cont-servs .tit-serv {
    font-size: 35px;
  }
  main .sec-serv .cont-servs .serv:hover {
    border: solid 1px rgb(184, 184, 184);
  }
  main .sec-serv .cont-servs .serv .info-serv .nom-serv {
    font-family: "Glory", sans-serif;
    text-align: center;
    font-weight: bold;
    color: #252525;
    font-size: 20px;
    padding-top: 10px;
    text-align: left;
  }
  main .sec-serv .cont-servs .serv .info-serv .descrip-serv {
    display: block !important;
    font-family: "Glory", sans-serif;
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  main .sec-serv .filtros-serv .filtros-img {
    max-width: 180px;
    align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  main .sec-serv .cont-servs .tit-serv {
    font-size: 40px;
  }
}
.bgImg-text-tptc {
  background-image: url("https://i.ibb.co/kXTXLt7/imagen1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 115%;
  height: 600px;
  margin-bottom: 0;
  text-shadow: 5px 5px #252525;
  clip-path: polygon(100% 0, 100% 94%, 23% 100%, 0 94%, 0 0);
  backdrop-filter: brightness(10%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgImg-text-tptc .contenedor-tptc {
  position: absolute;
  top: 60px;
  right: 500px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
}
.bgImg-text-tptc .contenedor-tptc .tptc-todo {
  color: #FFF70D;
  font-family: "Lilita One", cursive;
  font-size: 50px;
  width: 100%;
  line-height: 1.3em;
  text-align: right;
  animation-name: todo;
  animation-duration: 1s;
  transform: translate(500px);
}
@keyframes todo {
  0% {
    transform: translate(0%);
    opacity: 0%;
  }
  100% {
    transform: translate(500px);
    opacity: 100%;
  }
}
.bgImg-text-tptc .contenedor-tptc .tptc-tu-canino {
  color: #FFF70D;
  font-family: "Lilita One", cursive;
  font-size: 50px;
  width: 100%;
  line-height: 1.3em;
  text-align: right;
  animation-name: tu-canino;
  animation-duration: 1.1s;
  transform: translate(500px);
}
@keyframes tu-canino {
  0% {
    transform: translate(0%);
    opacity: 0%;
  }
  75% {
    transform: translate(1px);
    opacity: 0%;
  }
  100% {
    transform: translate(500px);
    opacity: 100%;
  }
}

.titulo {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #FF940D;
  font-size: 40px;
  padding-top: 10px;
  text-shadow: 1.5px 1.5px #413e38;
}

.promociones {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-size: 50px;
}

.contenedor-promos {
  padding-bottom: 100px;
}

div div .card {
  border: none;
  background-color: rgb(238, 238, 238);
}
div div div div .titulo2 {
  font-size: 20px;
  color: #FFC400;
}
div div div div .bi-truck, div div div div .bi-credit-card-2-back, div div div div .bi-emoji-laughing {
  color: #FFC400;
  font-size: 50px;
  margin: 5px;
}
div div div div p {
  font-size: 15px;
  font-family: "Glory", sans-serif;
  color: #FFF70D;
}
div div div div .card-text {
  color: rgb(0, 0, 0);
}
div div div div h5 {
  font-family: "Glory", sans-serif;
  color: #FFC400;
}
div div div .promo {
  border: solid 3px #FFC400;
  margin: 10px 10px;
  background-color: rgb(37, 37, 37);
}

div div .contenedor-img div img {
  width: 100%;
  animation-name: imagenAnimada;
  animation-duration: 4s;
}
@keyframes imagenAnimada {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.art-serv-seccion .art-titulo {
  padding: 30px;
  font-size: 30px;
  text-align: center;
}
.art-serv-seccion .art-serv-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.art-serv-seccion .art-serv-contenedor a {
  text-decoration: none;
  margin: 10px;
}
.art-serv-seccion .art-serv-contenedor .art-serv {
  width: 170px;
  height: auto;
  background-color: #ffff80;
  border: solid 2px #252525;
  box-shadow: 1px 1px 5px 0px #413e38;
  overflow: hidden;
}
.art-serv-seccion .art-serv-contenedor .art-serv .img-art-serv {
  width: 100%;
  height: auto;
  transition: transform 0.4s;
}
.art-serv-seccion .art-serv-contenedor .art-serv .img-art-serv:hover {
  transform: scale(1.1);
}
.art-serv-seccion .art-serv-contenedor .nom-art-serv {
  text-align: center;
  background-color: #252525;
  color: #FFC400;
  font-family: "Glory", sans-serif;
  padding: 5px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .art-serv-seccion .art-serv-contenedor {
    flex-direction: row;
  }
  .art-serv-seccion .art-serv-contenedor .art-serv {
    width: auto;
    height: auto;
  }
  .art-serv-seccion .art-serv-contenedor .art-serv:hover {
    box-shadow: 2px 2px 15px 0px #413e38;
  }
  .art-serv-seccion .art-serv-contenedor .art-serv .img-art-serv {
    height: 200px;
  }
  .art-serv-seccion .art-serv-contenedor .art-serv .nom-art-serv {
    font-size: 25px;
  }
  .art-serv-seccion .art-serv-titulo {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .art-serv-seccion .art-serv-contenedor .art-serv {
    width: auto;
    height: auto;
  }
  .art-serv-seccion .art-serv-contenedor .art-serv .img-art-serv {
    width: 280px;
    height: 250px;
  }
}
footer {
  width: 100%;
  background-color: #252525;
}
footer .container section {
  font-size: 0px;
  text-align: center;
}
footer .container section .bi-facebook, footer .container section .bi-instagram, footer .container section .bi-twitter {
  padding-right: 30px;
  font-size: 30px;
  color: rgb(170, 170, 170);
  text-decoration: none;
}
footer .container section .bi-facebook {
  transition: 0.5s;
}
footer .container section .bi-facebook:hover {
  color: rgb(83, 89, 179);
}
footer .container section .bi-twitter {
  transition: 0.5s;
}
footer .container section .bi-twitter:hover {
  color: rgb(107, 233, 255);
}
footer .container section .bi-instagram {
  transition: 0.5s;
}
footer .container section .bi-instagram:hover {
  color: rgb(184, 52, 196);
}
footer div p {
  font-family: "Glory", sans-serif;
  color: #FFC400;
}

.alto {
  height: 500px;
}
.alto .tit-contacto {
  font-size: 30px;
  padding: 5%;
}
.alto .formulario {
  border: solid 1px #FFC400;
  margin: 30px;
  background-color: rgba(20, 20, 20, 0.815);
  margin: 0 15%;
}
.alto .formulario form {
  padding: 0 10%;
}
.alto .formulario form .form-label {
  color: #FF940D;
  padding: 15px 0 0 0;
}
.alto .formulario form .form-control {
  border: solid 1px #FFC400;
  background-color: rgb(238, 238, 238);
}
.alto .formulario form .enviar {
  margin-bottom: 25px;
}

.img-fondo-contacto {
  background-image: url(../../IMG/contactar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .alto .tit-contacto {
    font-size: 30px;
    padding: 3%;
  }
  .alto .formulario {
    margin: 0 15%;
  }
}
@media screen and (min-width: 1200px) {
  .alto .tit-contacto {
    font-size: 40px;
    padding: 2%;
  }
  .alto .formulario {
    margin: 0 25%;
  }
}
.nos-main {
  background-image: url(../../IMG/perrito-nosotros.jpg);
  background-size: cover;
}
.nos-main .nos-sect {
  padding-bottom: 30px;
}
.nos-main .nos-sect h1 {
  padding-top: 25px;
}
.nos-main .nos-sect .nos-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}
.nos-main .nos-sect .nos-contenedor .nos-cuadro {
  border: solid 3px #FFC400;
  margin: 10px 10px;
  background-color: rgba(20, 20, 20, 0.856);
  min-height: 200px;
  max-width: 400px;
  display: flex;
  align-items: center;
}
.nos-main .nos-sect .nos-contenedor .nos-cuadro p {
  color: #FFF70D;
  padding: 10px;
  text-align: center;
}
.nos-main .nos-sect .nos-contenedor .tarjeta-rot {
  animation-name: tarj-rot;
  animation-duration: 0.3s;
}
@keyframes tarj-rot {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 768px) {
  .nos-main .nos-sect {
    padding-bottom: 100px;
  }
  .nos-main .nos-sect .nos-contenedor {
    flex-direction: row;
    justify-content: center;
    margin: 0 30px;
  }
  .nos-main .nos-sect .nos-contenedor .nos-cuadro {
    margin: 10px 10px;
    width: 500px;
    height: 370px;
  }
  .nos-main .nos-sect .nos-contenedor .nos-cuadro p {
    padding: 10px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .nos-main .nos-sect .nos-contenedor .nos-cuadro p {
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) {
  /* INICIO */
  .contenido .main-inicio .textos .texto-inicio {
    font-size: 50px;
  }
  form {
    padding: 0 20%;
  }
  .formulario {
    margin: 20px 200px;
  }
  .titulo {
    font-size: 50px;
  }
  div div div .promo {
    justify-content: center;
    position: relative;
  }
  div div div .promo .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  div div div .promo .overlay p {
    font-size: 20px;
    font-family: "Glory", sans-serif;
    color: #FFF70D;
    padding: 20px;
  }
  div div div .promo:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  div div div .promo .titulo2 {
    font-size: 25px;
  }
  div div div .promo .bi-truck, div div div .promo .bi-credit-card-2-back, div div div .promo .bi-emoji-laughing {
    font-size: 80px;
  }
}
@media screen and (min-width: 992px) {
  .botonCerrar {
    display: none;
  }
  .offcanvas {
    flex-direction: row;
    justify-content: right;
  }
  div div .card .card-body p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  div div div .promo .overlay p {
    font-size: 25px;
    font-family: "Glory", sans-serif;
    color: #FFF70D;
    padding: 20px;
  }
  div div div .promo .titulo2 {
    font-size: 30px;
  }
  div div .card .card-body p {
    font-size: 25px;
  }
}
main .sec-prod .filtros-prod {
  display: none;
}
main .sec-prod .filtros-prod .categ-prod {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #252525;
  font-size: 25px;
  padding-top: auto;
  text-align: left;
}
main .sec-prod .filtros-prod ul li {
  list-style-type: none;
  padding: 5px;
}
main .sec-prod .filtros-prod ul li a {
  text-decoration: none;
  color: #413e38;
  border-bottom: 1px solid transparent;
}
main .sec-prod .filtros-prod ul li a:hover {
  color: #252525;
  font-weight: 550;
}
main .sec-prod .filtros-prod ul li .categ-activa {
  color: #FF940D;
  -webkit-text-stroke: 0.3px #252525;
  pointer-events: none;
}
main .sec-prod .filtros-prod-mov {
  position: sticky;
  top: 70px;
  width: 100%;
}
main .sec-prod .filtros-prod-mov .accordion-item .accordion-header {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #252525;
  font-size: 30px;
  padding-top: auto;
  text-align: left;
}
main .sec-prod .filtros-prod-mov .accordion-item .accordion-header .accordion-button {
  background-color: rgb(238, 238, 238);
}
main .sec-prod .filtros-prod-mov .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #252525;
}
main .sec-prod .filtros-prod-mov .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
main .sec-prod .filtros-prod-mov .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.247);
}
main .sec-prod .filtros-prod-mov .accordion-item ul li {
  list-style-type: none;
}
main .sec-prod .filtros-prod-mov .accordion-item ul li a {
  text-decoration: none;
  color: #413e38;
}
main .sec-prod .filtros-prod-mov .accordion-item ul li a:hover {
  color: #252525;
  font-weight: 550;
}
main .sec-prod .filtros-prod-mov .accordion-item ul li .categ-activa {
  color: #FF940D;
  -webkit-text-stroke: 0.3px #252525;
  pointer-events: none;
}
main .sec-prod .cont-prods .tit-prod {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #FF940D;
  font-size: 35px;
  padding-top: 10px;
  text-shadow: 1.5px 1.5px #413e38;
}
main .sec-prod .cont-prods .prod {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid 1px transparent;
}
main .sec-prod .cont-prods .prod .img-prod {
  width: auto;
  height: 250px;
  padding: 15px;
}
main .sec-prod .cont-prods .prod .info-prod {
  padding: 15px;
}
main .sec-prod .cont-prods .prod .info-prod .nota-prod {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding-top: auto;
  background-color: #FF940D;
  text-align: left;
  display: inline;
  padding: 5px;
  border-radius: 10px;
}
main .sec-prod .cont-prods .prod .info-prod .nom-prod {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #252525;
  font-size: 18px;
  padding-top: 10px;
  text-align: left;
}
main .sec-prod .cont-prods .prod .info-prod .precio-prod {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #252525;
  font-size: 20px;
  padding-top: auto;
  text-align: left;
}
main .sec-prod .cont-prods .prod .info-prod .descrip-prod {
  display: none;
}
@media screen and (min-width: 768px) {
  main .sec-prod {
    display: grid;
    grid-template-columns: 25% auto;
  }
  main .sec-prod .filtros-prod {
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  main .sec-prod .filtros-prod .categ-prod {
    position: sticky;
    top: 90px;
  }
  main .sec-prod .filtros-prod ul {
    position: sticky;
    top: 150px;
  }
  main .sec-prod .filtros-prod-mov {
    display: none;
  }
  main .cont-prods .prod:hover {
    border: solid 1px rgb(184, 184, 184);
  }
  main .cont-prods .prod .info-prod .nom-prod {
    font-family: "Glory", sans-serif;
    text-align: center;
    font-weight: bold;
    color: #252525;
    font-size: 20px;
    padding-top: 10px;
  }
  main .cont-prods .prod .info-prod .descrip-prod {
    display: block !important;
    font-family: "Glory", sans-serif;
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  main .sec-prod .filtros-prod .filtros-img {
    max-width: 180px;
    align-self: center;
  }
}
main .sec-carrito .cont-carrito .tit-carrito {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #FF940D;
  font-size: 35px;
  padding-top: 10px;
  text-shadow: 1.5px 1.5px #413e38;
}
main .sec-carrito .cont-carrito .carrito {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #413e38;
  border-top: 1px solid #413e38;
  margin: 0 40px;
}
main .sec-carrito .cont-carrito .carrito .img-carrito {
  width: auto;
  height: 200px;
  padding: 15px;
}
main .sec-carrito .cont-carrito .carrito .info-carrito {
  padding: 15px;
  width: 70%;
}
main .sec-carrito .cont-carrito .carrito .info-carrito .prod-precio {
  display: flex;
  flex-direction: column;
}
main .sec-carrito .cont-carrito .carrito .info-carrito .prod-precio .cant {
  display: flex;
  flex-direction: column;
  margin: 2px;
}
main .sec-carrito .cont-carrito .carrito .info-carrito .prod-precio .cant .nom-carrito {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #252525;
  font-size: 20px;
  padding-top: 10px;
}
main .sec-carrito .cont-carrito .carrito .info-carrito .prod-precio .cant .cant-num {
  max-width: 40%;
}
main .sec-carrito .cont-carrito .carrito .info-carrito .prod-precio .precio-carrito {
  font-family: "Glory", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #252525;
  font-size: 25px;
  padding-top: auto;
  text-align: right;
}
main .sec-carrito .cont-carrito .carrito .total .precio-total {
  flex-direction: row;
  justify-content: space-between;
}
main .sec-carrito .cont-carrito .cont-total {
  width: 100%;
}
main .sec-carrito .cont-carrito .modal .modal-dialog .modal-content .modal-body form fieldset input {
  margin: 5px;
}
main .sec-carrito .cont-carrito .cont-boton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin: 0 11%;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  main .sec-carrito .cont-carrito .carrito .img-carrito {
    width: auto;
    height: 200px;
    padding: 15px;
  }
  main .sec-carrito .cont-carrito .carrito .info-carrito {
    padding: 15px;
    width: 70%;
  }
  main .sec-carrito .cont-carrito .carrito .info-carrito .prod-precio {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  main .sec-carrito .cont-carrito .carrito .info-carrito .prod-precio .cant {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  main .sec-carrito .cont-carrito .carrito .info-carrito .prod-precio .cant .nom-carrito {
    font-family: "Glory", sans-serif;
    text-align: center;
    font-weight: bold;
    color: #252525;
    font-size: 25px;
    padding-top: 10px;
  }
  main .sec-carrito .cont-carrito .carrito .info-carrito .prod-precio .cant .cant-num {
    max-width: 40%;
  }
  main .sec-carrito .cont-carrito .carrito .info-carrito .prod-precio .precio-carrito {
    font-family: "Glory", sans-serif;
    text-align: center;
    font-weight: bold;
    color: #252525;
    font-size: 30px;
    padding-top: auto;
    margin-top: revert;
  }
}
body {
  background-color: rgb(238, 238, 238);
}

/*# sourceMappingURL=styles.css.map */
